

*{
	margin:0;
	padding:0;
	border:0;
	text-decoration: none;
	font-family: "微软雅黑";
	list-style: none;
}
a{color:black;}

/* 头部start*/

header{
	width:100%;
	height:40px;
	background:#333333;
	font-size: 12px;
	line-height:40px;
}
.header_center{
	width:1230px;
	height:40px;
	margin:0 auto;
}
.header_center a{
	color:#b8b9b9;
}
.header_center a:hover{
	color:white;
}
.header_center span{
	margin-left:7px;
	margin-right:4px;
	color:#474745;
}
.header_serve{
    width:440px;
    height:40px;
    float: left;
}
.header_shop{
	cursor: pointer;
	width:120px;
	height:40px;
	float:right;
	color:#b8b9b9;
	text-indent:43px;
	position: relative;
	background: url(../img/shop.png) no-repeat #494949;
	background-position:14px 14px; 
}
.shop_cart{
	display: none;
	width:320px;
	height:auto;
	box-shadow: 0px 2px 8px 0px #666565;
	background:white;
	position:absolute;
	left:-200px;
	z-index:100;
}
.shop_cart p{
	width:320px;
	height:100px;
	text-align:center;
	line-height:100px;
	color:black;
}

.header_log{
	width:90px;
	height:40px;
	float:right;
}

/* 头部end*/

/*导航部分start*/
nav{
	width:100%;
	height:100px;
	position: relative;
}
.nav_center{
	width:1230px;
	height:100px;
	margin:0 auto;
}
.logo{
	width:55px;
	height:55px;
	float: left;
	margin-top:20px;
}
.navDiv{
	width:800px;
	height:100px;
	float: left;
}
.navDiv_ul{
	float: right;
	margin-top:25px;
    padding-left:10px; 
}
#nav_firstLi{
	width:100px;
	margin-right:25px;
	position:relative;
	text-align: left;
}
#nav_firstLi>a:hover{
    color:black;
}

/*导航全部商品分类部分*/



.show_nav{
	display:none;
	width:235px;
	height:460px;
	position:absolute;
	top:75px;
	z-index:99999;
	background:white;
	border:1px solid #ff6700;
}
.show_navUl{
	width:235px;
	height:420px;
	margin-top:20px;
}
.show_navUl>li{
	width:235px;
	height:42px;
	background:url(../img/biao-1.png) no-repeat;
	background-position:205px 14px;
	line-height:42px;
	font-size:15px;
	text-indent:30px;
}
.show_navUl>li:hover{
	background:url(../img/biao-1.png) no-repeat #ff6700;
	background-position:205px 14px;
}
.show_navUl>li>a{
	display: block;
}
.show_navUl>li:hover>a{
	color:white;
	
}
.showPhone_kind{
	display: none;
	width:auto;
    height:460px;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
	box-shadow: 0px 4px 2px 1px #e2e1e0;
	position: absolute;
	top:-1px;
	left:235px;
	z-index:40;
	background: white;
}
.showPhone_kind1{
	width:520px;
}
.showPhone_kind2{
	width:780px;
}
.showPhone_kind ul{
   width:260px;
   height:370px;
   float:left;
   margin-top:15px;
}
.showPhone_kind ul li{
	width:200px;
	height:70px;

}
.showPhone_kind ul li img{
	width:34px;
	height:40px;
	margin-right:14px;
	vertical-align:middle;
}
.showPhone_kind ul li a{
	color:black;
}
.showPhone_kind ul li a:hover{
	color:#ff6700;
}



/*导航部分商品*/

.navDiv_ul>li{
	width:70px;
	height:75px;
	float: left;
	text-align: center;
	line-height:50px;
}
.navDiv_ul>li>a:hover{
	color:#ff6700;
}
#last_li{
	width:100px;
	margin-left:15px;
}
.navDiv_ul>li>a{
	color:black;
	display: block;
}


.ul_phonekind{
	display:none;
	width:100%;
	height:230px;
	position: absolute;
	left:0;
	top:100px;
	z-index: 50;
	box-shadow:0 2px 4px #666565;
	background: white;
}
.nav_li_ul{
	display: none;
}

/*克隆的ul*/


#ul_clone{
	width:1170px;
	height:220px;
	margin:0 auto;
}
#ul_clone li{
    width:193px;
    height:220px;
    float:left;
    font-size:13px;
	text-align: center;
	line-height:50px;
}
.phoneImg{
	width:192px;
	height:115px;
	margin-top:35px;
	border-right:1px solid #eeeeee;
}
#ul_clone li img{
	width:120px;
	height:115px;
	margin-left:5px;
}
#ul_clone li p{
     width:100%;
     height:20px;
     line-height:46px;
     text-align:center;
}
#ul_clone li p a{
	color:black;
}
#ul_clone li span{
	color:#ff6700;
}


/*导航搜索部分*/
.nav_search{
	width:294px;
	height:50px;
	float:right;
	margin-top:26px;
	border:1px solid #e0e0e0;
	position:relative;
}
.search_input1{
	height:50px;
	width:240px;
	position:absolute;
	top:0px;
	text-indent:5px;
	outline: none;
}
.search_input2{
	cursor: pointer;
	width:54px;
	height:50px;
	position:absolute;
	right:0px;
	border-left:1px solid #e0e0e0;
	background:url(../img/search.png) no-repeat;
    background-position:17px 16px;  
}

.phone_kind{
	width:185px;
	height:20px;
	position: absolute;
	top:14px;
	left:75px;
}
.phone_kind a{
	font-size:12px;
	color:#88898a;
	background:#eeeeee;
}
.phone_kind a:hover{
	color:white;
	background:#ff6700;
	transition:background 0.2s linear;
	transition:color 0.1s linear;
}


/*导航部分end */


/* 定位部分start*/

.position{
	width:100%;
	height:40px;
	background:#f5f5f5;
}
.p_center{
	width:1230px;
	height:40px;
	margin:0 auto;
	font-size:13px;
	line-height:40px;
	color:#676565;
}
.p_center a{
	color:#676565;
}
.p_center a:hover{
	color:#0b0b0b;
}

/*定位部分end*/


/*主体部分start*/

/*主体商品*/
.main{
	width:100%;
	height:auto;
	margin-top:40px;
	position:relative;
}
.main_rows1{
	width:100%;
	height:810px;
	background:#f5f5f5; 
	border-bottom:1px solid #c6c5c5;
}
.main_goods{
	width:100%;
	height:755px;
	background:white
}
.goods_center{
	width:1230px;
	height:730px;
	margin:30px auto;
	position:relative;
}

.goods_line1{
	width:160px;
	height:425px;
	float:left;
}
.line1_ul li{
   cursor:pointer;
   width:72px;
   height:72px;
   border:1px solid #d7d4d4;
   margin-bottom:15px;
}
#goods_li1{
	border:1px solid #ff6700;
}
.line1_ul li img{
   width:100%;
   height:100%;
} 

.goods_line2{
	cursor:pointer;
    width:500px;
    height:500px;
    float:left;
}
.goods_line2 img{
    width:100%;
    height:100%;
}

.line2_big{
	display:none;
	width:400px;
	height:400px;
	overflow:hidden;
	position:absolute;
	top:0;
	right:110px;
	z-index:20;
}
.line2_big img{
	position:absolute;
	width:800px;
	height:800px;
}


.goods_line3{
	width:470px;
	height:700px;
	float:right;
}
.goods_line3>ul>li{
	width:470px;
	height:70px;
}
#line3_li1{
	height:90px;
	border-bottom:1px solid #cac8c8;
}
#line3_li1 p:first-child{
	height:50px;
	font-size:27px;
	font-weight:bold;
}
#line3_li1 span{
	font-size:14px;
	color:#cac8c8;
	text-decoration:line-through;
}
#line3_li2{
	height:55px;
	padding-top:20px;
	border-bottom:1px solid #cac8c8;
	font-size: 14px;
	color:#ff6700;

}
#line3_li2>span:first-child{
	font-size:23px;
	font-weight:bold;
}
#line3_member{
	cursor: pointer;
	float:right;
	margin-top:10px;
	font-size:13px;
	color:#cac8c8;
	position:relative;
}
#line3_member>span:hover{
	color:#ff6700;
	padding:10px 0 20px 0px;
}

.member_div{
	display:none;
	width:250px;
	height:130px;
	border:1px solid #cccccc;
	background:#fbfafa;
	position:absolute;
	top:30px;
	left:-120px;

}
.member_div>p{
	height:40px;
	border-bottom:1px solid #cccccc;
	font-size:19px;
	color:black;
	text-indent:8px;
}
.member_div td{
	width:100px;
	height:20px;
}

#line3_li3 p{
   font-size: 13px;
   margin-top:15px;
   color:#cac8c8;

}
.style_name1{
	width:60px;
	height:50px;
	line-height:50px;
	float:left;
	color:#8c8c8c;
	font-size:13px;
}

.phone_style1{
	width:250px;
	height:30px;
	margin-top:7px;
	float:left;

}
.style1_ul li{
	cursor:pointer;
	width:50px;
	height:28px;
	position:relative;
	float:left;
	border:2px solid red;
	line-height:28px;
	text-align: center;
	font-size:13px;
	color:#8c8c8c;
}
.style1_ul li:hover{
    color:#ff6700;
}


#line3_li5{
	height:200px;
}
.style_name2{
	width:60px;
	height:50px;
	line-height:50px;
	float:left;
	color:#8c8c8c;
	font-size:13px;
}

.phone_style2{
	width:250px;
	height:30px;
	margin-top:7px;
	float:left;

}
.style2_ul li{
	cursor:pointer;
	width:170px;
	height:28px;
	position:relative;
	float:left;
	margin-top:5px;
	border:2px solid #bbbaba;
	line-height:28px;
	text-align: center;
	font-size:13px;
	color:#8c8c8c;
}
#style2_li{
	border:2px solid red;
}
.style2_ul li:hover{
    color:#ff6700;
}

.style_gou1{
	position:absolute;
	bottom:0;
	right:0;
}
.style_gou{
	position:absolute;
	bottom:0;
	right:0;
}

#line3_li6{
	height:32px;
	line-height:32px;
}
#line3_li6>span{
	float:left;
	font-size:13px;
	color:#8c8c8c;
}
#line3_count{
	height:30px;
	float:left;
	margin-right:10px;
	position:relative;
	margin-left:30px;
	border:1px solid #bbbaba;
}
#line3_count span{
	cursor:pointer;
	padding:5px 16px 5px 13px;
}
#line3_count span:first-child{
	background:url(../img/goods/minus.png) no-repeat;
}
#line3_count span:last-child{
	margin-left:67px;
	background:url(../img/goods/add.png) no-repeat;
}
#line3_count input{
	width:65px;
	height:30px;
	position:absolute;
	top:0;
	border-left:1px solid #bbbaba;
	border-right:1px solid #bbbaba;
	text-align:center;
}

#line3_li7{
	width:460px;
}
.add_car{
	cursor: pointer;
	width:265px;
	height:50px;
	float:left;
	margin:20px 0 0 0px;
	background:url(../img/goods/car.png) no-repeat #ff6700;
	background-position:80px 20px;
	text-indent:100px;
	line-height:50px;
	font-size:17px;
	color:white;
}
.like{
	cursor: pointer;
	width:145px;
	height:50px;
	float:left;
	margin:20px 0 0 20px;
	background:url(../img/goods/like.png) no-repeat #b0b0b0;
	background-position:45px 18px;
	text-indent:70px;
	line-height:50px;
	font-size:17px;
	color:white;
	transition:background 0.2s linear;
}
.like:hover{
	background:url(../img/goods/like.png) no-repeat #7b7a7a;
	background-position:45px 18px;
	transition:background-color 0.2s linear;
}
#line3_lastli{
  height:50px;
  margin-top:25px;
  border-top:1px solid #bbbaba;
  border-bottom:1px solid #bbbaba;
  line-height:50px;
  font-size:12px;
}
.last_span1{
	cursor:pointer;
	padding:14px 52px 14px 52px;
	color:#757575;
	transition:color 0.2s linear;
}
.last_span1:hover{
	color:#ff6700;
	transition:color 0.2s linear;
}


/*图片放大区*/

.biger_div{
	display: none;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	z-index:3333;
	background:rgba(1,1,1,0.5);
} 
.biger_img{
	width:500px;
	height:500px;
	margin:0 auto;
	overflow:hidden;
	position:absolute;
	top:0;
}
.biger_img img{
   width:100%;
   height:100%;
   position:absolute;
}



/*主体商品详情区*/

.goods_show{
	width:100%;
}
.goods_title1{
	width:1230px;
	height:60px;
	margin:0 auto;
	text-align:center;
	line-height:60px;
	font-size:18px;
	color:#8c8c8c;
}
.goods_title1>span{
	cursor:pointer;
	padding:0 25px 0 25px;
}

#title1_span,.goods_title1>span:hover{
	color:#ff6700;
}

/*隐藏开头*/
.goods_title2{
	display:none;
	width:100%;
	height:60px;
	position:fixed;
	z-index:2222;
	top:0;
	background:white;
	box-shadow:5px 0 2px 4px #e7e7e7;
}
.title_center{
	width:1230px;
	height:60px;
	margin:0 auto;
}
.title_img{
	width:280px;
	height:60px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#98989c;
}
.title_img img{
	width:50px;
	height:50px;
	vertical-align:middle;
}

#title_word{
    width:670px;
	float:left;
	text-align:center;
	line-height:60px;
	font-size:18px;
	color:#8c8c8c;
}
#title_word>span:first-child{
	color:#ff6700;
}

.title_cart{
	cursor: pointer;
	width:180px;
	height:40px;
	margin-top:10px;
	float:right;
	background:url(../img/goods/car.png) no-repeat #ff6700;
	background-position:35px 14px;
	text-indent:70px;
	line-height:40px;
	font-size:15px;
	color:white;
}

/*图片*/
.goods_msg{
	width:100%;
	height:11610px;
	background:#f5f5f5;
}
.goods_img{
	width:750px;
	height:10530px;
	margin:0 auto;
}

/*规格参数*/
.goods_can{
	width:1230px;
	height:440px;
	margin:0 auto;
}
.can_top{
	width:1230px;
	height:30px;
	border-bottom:1px solid #bab9b9;
	position:relative;
}
.can_top h1{
	width:300px;
	color:#a4a5a4;
	position:absolute;
	background:#f5f5f5;
	left:465px;
	top:5px;
	text-align:center;
} 
.can_down{
	width:1230px;
	height:280px;
	padding-top:15px;
	margin:40px auto;
	background:white;
}
.can_table td{
	width:304px;
	height:50px;
	font-size:14px;
	color:#b0b0b0;
}
.can_table td img{
	width:250px;
	height:230px
}

/*晒单评价*/
.evaluate{
    width:1230px;
	height:auto;
	margin:0 auto;
}
.evaluate_down{
	width:1230px;
	height:210px;
	margin:40px auto;
	background:white;
	float:left;
}

.evaluate_one{
    width:380px;
    height:140px;
    float:left;
    margin-top:30px;
}
.one_p1{
	width:100%;
	height:90px;
	color:#ff6700;
	font-size:18px;
	text-align:center;
}
.one_p1 span{
	font-size:68px;
}

.one_p2{
	width:100%;
	height:20px;
	color:#7e7c7c;
	font-size:13px;
	text-align:center;
}
.one_p3{
	width:100%;
	height:15px;
	color:#bababc;
	font-size:12px;
	text-align:center;
}
.evaluate_two{
	width:310px;
	height:90px;
	float:left;
	margin:60px 0 0 50px;
	color:#b0b0b0;
}
.evaluate_two ul li{
	float:left;
	margin-top:10px;
}
.ete_li1,.ete_li3{
    width:45px;
    height:18px;
    font-size:14px;
} 
.ete_li2 p{
	height:100%;
	width:0;
	background:#ff6700;
}
.ete_li3{
	text-indent:8px;
	color:#ff6700;
}
.ete_li2{
	width:200px;
	height:18px;
	background:#cecdcd;
}

.evaluate_three{
	width:400px;
	height:110px;
	float:right;
	margin-top:65px;
	position:relative;
	font-size:13px;
	color:#b0b0b0;
}
.evaluate_three p{
	width:400px;
	height:50px;
}
#three_p3{
	cursor:pointer;
	width:90px;
	height:30px;
	background:#ff6700;
	position:absolute;
	right:65px;
	bottom:40px;
	color:white;
	font-size:14px;
	line-height:30px;
	text-align: center;
}

/*评价商品的提交框start   隐藏*/
.e_hide{
	display:none;
	width:100%;
	height:100%;
	background:rgba(1,1,1,0.5);
	position:fixed;
	top:0;
	z-index:66666;
}
.rank_close{
	cursor:pointer;
	width:15px;
	height:15px;
	position:absolute;
	top:10px;
	right:15px;
}
.e_center{
    width:710px;
    height:320px;
    margin:-160px 0 0 -355px;
    position:absolute;
    top:50%;
    left:50%;
    border:4px solid #ff6700;
    border-radius:10px;
    background:white;
}
.e_center ul{
	margin:10px 0 0 50px;
}
.e_center ul li{
    width:640px;
    height:40px;
    font-size:14px;
    line-height:40px;
    color:#b0b0b0;
}
.e_center ul li label{
	margin-right:30px;
}
#rank_name{
	margin-left:15px;
}
#rank_li2 input{
  width:180px;
  height:37px;
  margin-left:15px;
  border:1px solid #eaeaea;
  text-indent: 5px;
}
#rank_li4{
	height:100px;
}
#rank_li4 label{
	height:90px;
	width:auto;
	line-height:90px;
}
#rank_li4 textarea{
	width:320px;
	height:98px;
	resize:none;
	border:1px solid #eaeaea;
	font-size:14px;
    color:#b0b0b0;
    text-indent: 5px;
}
#rank_li5{
	margin-top:18px;
}
#subm{
	cursor:pointer;
	width:150px;
	height:40px;
	margin-left:85px;
	background:#ff6700;
	font-size:16px;
	color:white;
}

/*评价商品的提交框end 隐藏*/


/*最有帮助的评价*/
.evaluate_word{
	width:1230px;
	height:50px;
	margin:0 auto;
}
.evaluate_word h3{
	float:left;
}
.evaluate_word p{
	float:right;
}
.text{
	width:1230px;
	height:auto;
	margin:0 auto;
}
.text ul li{
	width:1228px;
	height:150px;
	margin-top:15px;
	border:2px solid white;
	float:left;
	background:white;

}
.text_top{
	width:100%;
	height:120px;
}
.text_img{
	width:65px;
	height:65px;
	float:left;
	margin:30px 0 0 20px;
}
.text_img img{
	width:100%;
	height:100%;
	border-radius:50%;
}
.text_word{
	width:900px;
	height:28px;
	float:left;
	border-bottom:1px solid #b0b0b0;
	margin:45px 0 0 20px;
	font-size:15px;
	color:#4a4949;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.text_msg{
    width:100px;
    height:30px;
    margin-top:50px;
    background:url(../img/goods/xiao.png) no-repeat;
    background-position:40px 0px;
    float:right;
    font-size: 16px;
    color:#ffd600;

}
.text_down{
	width:200px;
    height:20px;
    margin-left:30px;
    font-size:12px;
    color:#c6c6c6;
}



#evaluate_last{
	clear:both;
	width:1230px;
	height:35px;
	padding-top:5px;
	position:relative;
	top:15px;
	background:white;
}
#evaluate_last p{
	cursor:pointer;
	width:60px;
	height:30px;
	float:right;
	margin:0 10px 0 0;
	border:1px solid #bab9b9;
	border-radius:4px;
	color:#d7d7d7;
	font-size:14px;
	text-align:center;
	line-height:30px;
}

/*主体部分end*/





/*页脚部分start*/

footer{
	width:100%;
	height:291px;
}
.footer_top{
	width:1230px;
	height:190px;
	margin:15px auto;
}
.message{
	width:980px;
	height:190px;
	float: left;
}
.message table tr td{
   width:165px;
   height:30px;
   font-size: 13px;
  
}
.message table tr td a{
	 color:#757575;
}
.message table tr td a:hover{
	color:#ff6700;
}
#message_tr td{
	width:165px;
	height:60px;
	font-size: 15px;
	color:#2b2b2b;
}
.contact{
	width:200px;
	height:120px;
	float: left;
	margin-top:30px;
	border-left:1px solid #e0e0e0;
}
.contact p{
	width:200px;
	height:20px;
	text-align: center;
	color:#2b2b2b;
	font-size:12px; 
}
#contact_p1{
   height:35px;
   font-size:23px;
   color:#ff6700;
}
#contact_p4{
	width:122px;
	height:30px;
	border:1px solid #ff6700;
    margin:6px auto;
    line-height:30px;
    transition:background-color 0.2s linear;   
}
#contact_p4 a{
	display: black;
	color:#ff6700;
	padding-left:18px;
	background:url(../img/xinxi.png) no-repeat;
	background-position:0 4px;
	transition:color 0.2s linear;
}
#contact_p4:hover{	
	background-color:#ff6700;
	transition:background-color 0.2s linear;
}
#contact_p4:hover a{
	color:white;
	background-position:0 -86px;
	transition:color 0.2s linear;
}
.footer_down{
	width:100%;
	height:85px;
	background:#fafafa;
}
.footer_c{
	width:1230px;
	height:64px;
	margin:0px auto;
	background:url(../img/footer_logo.png) no-repeat;
	background-position: 0 30px;
}
.footer_c p{
	width:1000px;
	height:20px;
	margin-left:45px;
	font-size:12px;
	color:#b0b0b0;
}
#footer_c1{
	padding-top:23px; 

}
#footer_c1 a:hover,#footer_c2 a:hover{
    color:#ff6700;
}
#footer_c2 a{
    color:#b0b0b0;
}



/*响应式*/

@media(min-width:300px) and (max-width:1240px){

header{
	width:1240px;
}
.nav{
	width:1240px;
}
.position{
	width:1240px;
}
.main{
	width:1240px;
}
.biger_div{
	width:1240px;
}
footer{
	width:1240px;
}
.footer_down{
	width:1240px;
}

}