@charset "utf-8";
/* CSS Document */
body,img,div {
	margin: 0px;
	padding: 0px;
}

body,img,div,p,ul,li,a,input,select,option,button,form {
	margin: 0px;
	padding: 0px;
}
body {
	font-family:'Microsoft Yahei','SimHei','YouYuan','LiSu','Open Sans','Helvetica','Tahoma', 'DejaVu Sans Mono',Arial,sans-serif, Menlo, Consolas, monospace;
	font-size: 62.5%;
	color: black;
	min-width: 300px; 
}
.clearfix {
	clear: both;
}
.center{
	width: 100%;
	/*height: 1000px;*/
	margin-top: 10px;
	background-color: rgb(240,240,240);
	/*position: relative;*/
}
.center_show_pic{
	height: auto;
}
.center_show_pic img{
	width: 100%;
	height: 100%;
}
.center_container{
	margin-top: 20px;
	height: 1000px;
}
.center_slide{
	width: 280px;
	height: 1000px;
	float: left;
	/*border:1px solid red;*/
	background-color: rgb(232,232,232);
	/*position: relative;*/
}
.center_slide h2{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-weight: 600;
	color: white;
	padding-left: 20px;
	box-sizing: border-box;
	background-color: rgb(199,0,18);
}
.center_nav{
	
}
.center_nav li{
	list-style: none;
	height: 49px;


}
.center_item{
	border-bottom: 1px solid rgb(177,177,177);
}
#center_item_active{
	background-color: rgb(218,218,218);
	border-bottom: 1px solid rgb(199,0,18);
}
.center_item_active{
	background-color: rgb(218,218,218);
	border-bottom: 1px solid rgb(199,0,18);
}
.center_nav li a{
	display: block;
	width: 100%;
	height: 49px;
	line-height: 49px;
	text-align: right;
	padding-right: 50px; 
	box-sizing: border-box;	
	position: relative;
	font-size: 16px;
}
.center_nav li a span{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 0px;
	overflow: hidden;
	margin-top: 9.5px;
}
.center_item_pic{
	display: none;
}
#center_item_pic_active{
	display: block;
}
.center_item_pic_active{
	display: block;
}
.center_nav li a span img{
	width: 100%;
	height: 100%
}

.center_text{
	width: 900px;
	/*height: 500px;*/
	float: right;
	/*border:1px solid red;*/
}
.center_title{
	height: 70px;
	position: relative;
}
.center_title_top{
	height: 50px;
	line-height: 50px;
}
.center_t{
	width: 100px;
	font-size: 20px;
	float: left;
}
.center_title_line{
	width: 100%;
	height: 2px;
	background-color: rgb(199,0,18);
	position: absolute;
	top: 49px;
	left: 0px;
}
.center_title_bottom{
	height: 20px;
	line-height: 20px;
	font-weight: 300;
	color: rgb(77,77,77);
}
.location{
	float: right;
}
.location span:nth-of-type(2){
	display: inline-block;
	text-align: center;
	width: 20px;
}
.location span:nth-of-type(3){
	display: inline-block;
	text-align: center;
	width: 20px;
}
.location a:nth-of-type(1):hover{
	color: rgb(199,0,18);
}
.location a:nth-of-type(2):hover{
	color: rgb(199,0,18);
}
.location a:nth-of-type(3){
	color: rgb(199,0,18);
}
.center_article{
	/*height: 1000px;*/
	/*background: red;*/
	margin-top: 20px;
	/*border:1px solid rgb(210,210,210);*/
	/*padding: 40px 20px; */
	box-sizing: border-box;
}
.center_article a:hover{
	color: red;
}
.center_first{
	width: 100%;
	height: 170px;
	background-color: rgb(232,232,232);
}
.center_first_pic{
	width: 27%;
	height: 170px;
	float: left;
}
.center_first_pic a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.center_first_pic a img{
	width: 100%;
	height: 100%;
}
.center_first_title{
	width: 73%;
	height: 170px;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}
.center_first_title p{
	height: 50px;
	line-height: 50px;
/*	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 180px;
	box-sizing: border-box;*/
}
.center_first_title p a{
	display: block;
	color: black;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 180px;
	box-sizing: border-box;
}
.center_first_title>div:nth-of-type(1){
	line-height: 20px;
	font-size: 12px;
	text-indent: 20px;
	color: rgb(111,111,111);
}
.center_first_title>div:nth-of-type(1) span{
	display: inline-block;
	float: right;
}
.center_first_title>a{
	display: block;
	width: 20px;
	height: 20px;
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	background-color: rgb(199,0,18);
	margin-top: 10px; 
}
.center_news_item{
	height: 640px;
	border: 1px solid rgb(177,177,177);
	padding: 20px;
	box-sizing: border-box;
	margin: 20px 0;
}
.c_n_p1{
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid rgb(199,199,199);
}
.c_n_p1 a{
	display: inline-block;
	color: rgb(77,77,77);
	font-size: 13px;
}
.c_n_p1 span{
	display: inline-block;
	color: rgb(111,111,111);
	float: right;
	font-size: 13px；
	font-weight: 300;
}
/*.center_news_date{
	display: inline-block;
	color: rgb(111,111,111);
	float: right;
	font-size: 13px；
	font-weight: 300;	
}*/
.c_n_tz{
	margin: 20px 0;
	height: 28px;
	line-height: 28px;
}
.c_n_tz a{
	display: inline-block;
	width: 28px;
	height: 28px;
	font-size: 13px;
	border: 1px solid rgb(199,199,199);
	float: right;
	margin-left: 5px;
}
.c_n_tz a:hover{
	color: white;
	background-color: rgb(199,0,18);	
}
#c_n_tz_active{
	color: white;
	background-color: rgb(199,0,18);	
}


@media screen and (min-width: 300px) and (max-width: 767px) {
	body{ margin: 0px; padding: 0px; }
	.container{ width: 90%; margin: 0 5%; }
	.xs_hidden{ display: none; }
	.center{ height: 1400px; margin-top: 0px; padding-top: 10px; }
	/*.center_nav { display: none; }*/
	.center_container{ height: auto; }
	.center_slide{ width: 100%; height: 35px; overflow: hidden; clear: both;}
	.center_slide h2{ width: 100%; height: 35px; line-height: 35px;font-size: 1.8em; background-image: url(../../img/tubiao/xiala.png); background-repeat: no-repeat;background-position: 95% center;background-size: 20px 20px;}
	.center_slide li{ width: 33%; height: 30px; line-height: 30px;float: left;  }
	.center_slide li a{display: block; width: 100%; height: 30px; line-height: 30px; font-size: 1.2em; padding: 0px; text-align: center; }

	#center_item_pic_active{ display: none; }
	.center_item_pic_active{ display: none; }

	#center_item_active{ background-color: rgb(232,232,232);border-bottom: 2px solid rgb(199,0,18); height: 29px; color: rgb(199,0,18);}
	.center_text{ width: 100%; height: auto; clear: both; }
	.center_t{ width: 29%;  font-size: 1.6em;}
	.location{ width: 69%; text-align: right;}
	.center_article{ width: 100%;  height: auto; padding: 10px 10px;}
	.center_first{ height: 350px; }
	.center_first_pic{ width: 100%; clear: both;  }
	.center_first_title{ width: 100%; padding: 10px; }
	.center_first_title p a{ padding-right: 0; font-size: 1.4em; }
	.center_news_item{ width: 100%; height: auto; margin-top: 10px; padding: 10px; }
	.c_n_p1{ width:100%; height: auto; line-height: 20px; }
	.c_n_p1 a{ text-align: left; }
	.c_n_p1 span { float: none; width: 100%; text-align: right;}
	/*.center_news_date{ clear: both; }*/
	.c_n_tz a:nth-of-type(1){ display: none; }






 	
@media screen and (min-width: 300px) and (max-width: 349px) {
	.center{ height: 1500px }
	.anli{ height: 650px; }
}
@media screen and (min-width: 350px) and (max-width: 399px) {
	.center{ height: 1400px; }
	.anli{ height: 620px; }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
	.center{ height: 1400px; }
	.anli{ height: 560px; }

} 