@charset "utf-8";
/* CSS Document */
body,img,div {
	margin: 0px;
	padding: 0px;
}

body,img,div,p,ul,li,a,input,select,option,button,form {
	margin: 0px;
	padding: 0px;
}
body {
	font-family:'Microsoft Yahei','SimHei','YouYuan','LiSu','Open Sans','Helvetica','Tahoma', 'DejaVu Sans Mono',Arial,sans-serif, Menlo, Consolas, monospace;
	font-size: 62.5%;
	color: black;
	min-width: 300px; 
}
.clearfix {
	clear: both;
}
.center{
	width: 100%;
	/*height: 1000px;*/
	margin-top: 10px;
	background-color: rgb(240,240,240);
	/*position: relative;*/
}
.center_show_pic{
	height: auto;
}
.center_show_pic img{
	width: 100%;
	height: 100%;
}
.center_container{
	margin-top: 20px;
	height: 1600px;
}
.center_slide{
	width: 280px;
	height: 1600px;
	float: left;
	/*border:1px solid red;*/
	background-color: rgb(232,232,232);
	/*position: relative;*/
}
.center_slide h2{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-weight: 600;
	color: white;
	padding-left: 20px;
	box-sizing: border-box;
	background-color: rgb(199,0,18);
}
.center_nav{
	
}
.center_nav li{
	list-style: none;
	height: 49px;


}
.center_item{
	border-bottom: 1px solid rgb(177,177,177);
}
#center_item_active{
	background-color: rgb(218,218,218);
	border-bottom: 1px solid rgb(199,0,18);
}
.center_item_active{
	background-color: rgb(218,218,218);
	border-bottom: 1px solid rgb(199,0,18);
}
.center_nav li a{
	display: block;
	width: 100%;
	height: 49px;
	line-height: 49px;
	text-align: right;
	padding-right: 50px; 
	box-sizing: border-box;	
	position: relative;
	font-size: 16px;
}
.center_nav li a span{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 0px;
	overflow: hidden;
	margin-top: 9.5px;
}
.center_item_pic{
	display: none;
}
#center_item_pic_active{
	display: block;
}
.center_item_pic_active{
	display: block;
}
.center_nav li a span img{
	width: 100%;
	height: 100%
}

.center_text{
	width: 900px;
	/*height: 500px;*/
	float: right;
	/*border:1px solid red;*/
}
.center_title{
	height: 70px;
	position: relative;
}
.center_title_top{
	height: 50px;
	line-height: 50px;
}
.center_t{
	width: 100px;
	font-size: 20px;
	float: left;
}
.center_title_line{
	width: 100%;
	height: 2px;
	background-color: rgb(199,0,18);
	position: absolute;
	top: 49px;
	left: 0px;
}
.center_title_bottom{
	height: 20px;
	line-height: 20px;
	font-weight: 300;
	color: rgb(77,77,77);
}
.location{
	float: right;
}
.location span:nth-of-type(2){
	display: inline-block;
	text-align: center;
	width: 20px;
}
.location span:nth-of-type(3){
	display: inline-block;
	text-align: center;
	width: 20px;
}
.location a:nth-of-type(1):hover{
	color: rgb(199,0,18);
}
.location a:nth-of-type(2):hover{
	color: rgb(199,0,18);
}
.location a:nth-of-type(3){
	color: rgb(199,0,18);
}
.center_article{
	height: 1400px;
	/*background: red;*/
	margin-top: 20px;
	border:1px solid rgb(210,210,210);
	padding: 40px 20px; 
	box-sizing: border-box;
}
.article_left{
	width: 150px;
	height: 1250px;
	border-right: 2px solid rgb(177,177,177);
	padding: 40px 0px; 
	box-sizing: border-box;
	float: left;
	position: relative;
}
.article_left_item{
	padding: 9.5px 0;
	box-sizing: border-box;
	border-bottom: 1px solid red;
	position: relative;
}
.article_left_item_dian{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: rgb(199,0,18);
	position: absolute;
	top: 20px;
	right: -4px;
	z-index: 100;
}
.article_left_item_xian{
	width: 20px;
	height: 1px;
	background-color: rgb(177,177,177);
	position: absolute;
	top: 23px;
	right: 0px;
}
.article_left_item_time{
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: right;
	color: rgb(199,0,18);
}





.article_right{
	width: 650px;
	height: 1250px;
	/*border: 1px solid rgb(177,177,177);*/
	padding: 40px 0px; 
	box-sizing: border-box;
	float: right;
	position: relative;
}
.article_right_item{
	padding: 9.5px 0;
	border-bottom: 1px solid rgb(200,200,200);
	/*border-top: 1px solid red;*/
	box-sizing: border-box;
}
.article_right_item p{
	display: none;
}
.article_right_item span{
	display: none;
}
.article_right div{
	font-size: 14px;
	color: rgb(77,77,77);
} 
.article_r_item1{
	width: 650px;
	height: 30px;
	/*height: 40px;*/
}
.article_r_item1 div:nth-of-type(1){
	width: 60px;
	/*height: 50px;*/
	line-height: 30px;
	float: left;
}
.article_r_item1 div:nth-of-type(2){
	width: 590px;
	/*height: 50px;*/
	line-height: 30px;
	float: left;
}

.article_r_item2{
	width: 650px;
	/*height: 40px;*/
}
.article_r_item2 div:nth-of-type(1){
	width: 60px;
	line-height: 20px;
	/*height: 50px;*/
	float: left;
}
.article_r_item2 div:nth-of-type(2){
	width: 590px;
	/*height: 50px;*/
	line-height: 20px;
	float: left;
}


@media screen and (min-width: 300px) and (max-width: 767px) {
	body{ margin: 0px; padding: 0px; }
	.container{ width: 90%; margin: 0 5%; }
	.xs_hidden{ display: none; }
	.center{ height: 700px; margin-top: 0px; padding-top: 10px; }
	/*.center_nav { display: none; }*/
	.center_container{ height: auto; }
	.center_slide{ width: 100%; height: 35px; overflow: hidden; clear: both;}
	.center_slide h2{ width: 100%; height: 35px; line-height: 35px;font-size: 1.8em; background-image: url(../../img/tubiao/xiala.png); background-repeat: no-repeat;background-position: 95% center;background-size: 20px 20px;}
	.center_slide li{ width: 33%; height: 30px; line-height: 30px;float: left;  }
	.center_slide li a{display: block; width: 100%; height: 30px; line-height: 30px; font-size: 1.2em; padding: 0px; text-align: center; }

	#center_item_pic_active{ display: none; }
	.center_item_pic_active{ display: none; }

	#center_item_active{ background-color: rgb(232,232,232);border-bottom: 2px solid rgb(199,0,18); height: 29px; color: rgb(199,0,18);}
	.center_text{ width: 100%; height: auto; clear: both; }
	.center_t{ width: 29%;  font-size: 1.6em;}
	.location{ width: 69%; text-align: right;}
	.center_article{ width: 100%;  height: 2200px; padding: 10px 10px;}
	.center_article div{ font-size: 1em; }
	.article_right{ width: 100%;clear: both; padding: 10px 0;}
	.article_right_item{ width: 100%; }
	.article_r_item1{ width: 100%; }
	.article_r_item2{ width: 100%; }
	.article_r_item1 div:nth-of-type(1){ width: 13%; }
	.article_r_item1 div:nth-of-type(2){ width: 87%; }
	.article_r_item2 div:nth-of-type(1){ width: 13%; }
	.article_r_item2 div:nth-of-type(2){ width: 87%; }


	.article_r_item1 span{ width: 5px; height: 5px; border-radius: 50%; background-color: rgb(199,0,18);display: inline-block; margin-top: 12.5px;margin-right: 5px;}
	.article_r_item2 span{ width: 5px; height: 5px; border-radius: 50%; background-color: rgb(199,0,18);display: inline-block; margin-top: 7.5px;margin-right: 5px;}
	.article_right_item p {display: block; width: 100%; height: 30px; line-height: 30px; font-size: 1.8em; color: rgb(199,0,18); }

	.article_right>div:nth-of-type(1){ height: 80px !important; }
	.article_right>div:nth-of-type(2){ height: 80px !important; }
	.article_right>div:nth-of-type(3){ height: 310px !important; }
	.article_right>div:nth-of-type(4){ height: 200px !important; }
	.article_right>div:nth-of-type(5){ height: 160px !important; }
	.article_right>div:nth-of-type(6){ height: 170px !important; }
	.article_right>div:nth-of-type(7){ height: 360px !important; }
	.article_right>div:nth-of-type(8){ height: 230px !important; }
	.article_right>div:nth-of-type(9){ height: 430px !important; }
	.article_right>div:nth-of-type(10){ height: 110px !important; }



	
@media screen and (min-width: 300px) and (max-width: 349px) {
	.center{ height: 2620px }
	.center_article{ height: 2400px;  }	
	/*.center_text{ height: 700px; }*/
	.article_r_item1 div:nth-of-type(1){ width: 15%; }
	.article_r_item1 div:nth-of-type(2){ width: 85%; }
	.article_r_item2 div:nth-of-type(1){ width: 15%; }
	.article_r_item2 div:nth-of-type(2){ width: 85%; }
	.article_right>div:nth-of-type(1){ height: 110px !important; }
	.article_right>div:nth-of-type(2){ height: 80px !important; }
	.article_right>div:nth-of-type(3){ height: 360px !important; }
	.article_right>div:nth-of-type(4){ height: 220px !important; }
	.article_right>div:nth-of-type(5){ height: 160px !important; }
	.article_right>div:nth-of-type(6){ height: 170px !important; }
	.article_right>div:nth-of-type(7){ height: 430px !important; }
	.article_right>div:nth-of-type(8){ height: 230px !important; }
	.article_right>div:nth-of-type(9){ height: 490px !important; }
	.article_right>div:nth-of-type(10){ height: 110px !important; }
}
@media screen and (min-width: 350px) and (max-width: 399px) {
	.center{ height: 2500px; }
	.center_article{ height: 2200px; }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
	.center{ height: 2300px; }
	.center_article{ height: 2020px }
	.article_right>div:nth-of-type(1){ height: 80px !important; }
	.article_right>div:nth-of-type(2){ height: 80px !important; }
	.article_right>div:nth-of-type(3){ height: 300px !important; }
	.article_right>div:nth-of-type(4){ height: 200px !important; }
	.article_right>div:nth-of-type(5){ height: 140px !important; }
	.article_right>div:nth-of-type(6){ height: 140px !important; }
	.article_right>div:nth-of-type(7){ height: 360px !important; }
	.article_right>div:nth-of-type(8){ height: 170px !important; }
	.article_right>div:nth-of-type(9){ height: 410px !important; }
	.article_right>div:nth-of-type(10){ height: 80px !important; }
}






}
