@charset "utf-8"
/* CSS Document */

*{  
	margin:0px;
	padding:0px;
}
body,ul,li,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;
}
img{
	margin:0px;
	padding:0px;
	vertical-align:middle;
	border:none;
}
a{
	text-decoration:none;
	display:block;
}



#header{
	width:1920px;
	height:60px;
	margin:0 auto;
	/* background-image:url(../img/adver.jpg) ;
	background-repeat:no-repeat;
	background-position:0 60px;
	background-attachment:scroll;
	background-size:100%  70%;
	margin:0 auto;
	z-index:0 */
}
#header .center{
	width:1920px;
	height:60px;
	background-color:#333333;
}
.logo{
	width:400px;
	height:60px;
	line-height:0px;
	font-size:0px;
	overflow:hidden;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	/* background-size:50% 100%; */
	background-position:center center;
	z-index:10;
	float:left;
}
.none{
	line-height:0px;
	font-size:0px;
	overflow:hidden;
}
.link{
	width:900px;
	height:60px;
	float:right;
	background-color:#333333; 
}
.link ul{
	list-style:none;
	height:60px;
	/* margin-top:0px; */
	
}
.link ul li{
	width:150px;
	float:left;
	line-height:60px;
	text-align:center;
	
}
.link ul li a{
	color:#ffffff;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	
}
.link ul li:hover{
	background-color:#000;
}
.link ul li a:hover{
	color:red;
}

#adver{
	width:1920px;
	height:auto;
	margin:0 auto;
	position:relative;
}
#adver img{
	width:1920px;
	height:auto;
}
#adver .opa{
	width:750px;
	height:80px;
	/* border:1px solid red; */
	background-color:rgba(0,0,0,0.3);
	/* background:transparent; */
	position:absolute;
	left:31%;
	top:40%;
	border-radius:10px;
}
#adver .opa .search{
	width:500px;
	height:58px;
	float:left;
	margin:7px  0;
	margin-left:5px;
	border-radius:10px;
	background-color:rgb(238,238,238);
}
#adver .opa .button{
	width:230px;
	height:60px;
	float:right;
	margin:10px  0;
	margin-right:5px;
	border-radius:10px;
	background-color:rgb(238,238,238);
}

#good{
	width:1920px;
	height:auto;
	margin:20px auto;
	/* padding-bottom:20px; */
	/* border:1px solid red; */
	overflow:hidden;
	background-color:rgb(245,245,245);
	
}
#good .center{
	width:1920px;
	height:130px;
	text-align:center;
	margin:10px 0;
}
#good .center h2{
	font-size:40px;
	color:rgb(102,102,102);
}
#good .center p{
	font-size:20px;
	line-height:40px;
	color:rgb(102,102,102);
}
.good_article{
	width:1800px;
	height:auto;
	margin:0 auto;
}


#good figure{
	width:540px;
	/* min-width:320px; */
	height:auto;
/* 	margin:0px;
	padding:0px; */
	margin:19px;
	padding:8px;
	float:left;
	border:1px solid #ccc;
	border-radius:10px;
	position:relative;
}
#good figure img{
	width:540px;
}
.good_title{
	width:90%;
	height:80px;
	line-height:25px;
	font-size:14px;
	margin:5px 5%;
	margin-bottom:15px;
}
.info{
	width:90%;
	height:30px;
	margin:5px 5%;
}
.info .sat{
	float:right;
}
.info em{
	font-style:normal;
}
.info .price{
	color:rgb(255,102,0);
}
#good figure .type{
	width:160px;
	height:40px;
	background-color:rgb(89,178,0);
	border-bottom-right-radius:10px;
	text-align:center;
	color:#fff;
	font-size:20px;
	font-weight:600;
	position:absolute;
	left:8px;
	top:8px;
	
}



#footer{
	width:1920px;
	height:auto;
	background-color:rgb(34,34,34);
	margin:0 auto;
	margin-top:20px;
	padding-top:10px ; 
}
#footer .top{
	width:1800px;
	height:350px;
	margin:10px auto;
	padding:10px;
	/* border:1px solid red; */
}

.block{
	width:550px;
	/* min-width:320px; */
	height:auto;
	margin:10px 20px;
	padding:10px 5px;
	float:left;
	/* border:1px solid blue; */
}

.block h2{
	color:rgb(204,204,204);
}
.block hr{
	border:1px dashed rgb(51,51,51);
}
.block ul{
	list-style:none;
	font-size:20px;
	line-height:40px;
}
.block ul li{
	color:rgb(102,102,102);
}

.sm-visible{
	line-height:0px;
	font-size:0px;
	overflow:hidden;
}

.bottom{
	width:1920px;
	height:60px;
	line-height:60px;
	font-size:20px;
	text-align:center;
	float:left;
	border-top:1px solid rgb(68,68,68);
	background-color:rgb(0,0,0);
	color:rgb(119,119,119);
}




/* 分辨率宽度在320px~767px之间会应用下列属性 */

@media (min-width: 320px) and (max-width: 767px) {
	
	#header,#header .center, #header .link{
		width:100%;
		height:45px;
	}
	#header .logo,.none, .sm-hidden, .md-hidden, .xs-hidden,sidebar{
		display:none;
	}
	.link ul{
		width:100%;
		height:45px;
	}
	.link ul li{
		width:25%;
		height:45px;
		line-height:45px;
		text-align:center;
	}
	#adver{
		width:100%;
		height:auto;
		position:relative;
	}
	#adver img{
		width:100%;
	}
	#adver .opa{
		width:50%;
		height:40px;
		position:absolute;
		left:31%;
		top:25%;
	}
	#adver .opa .search{
		width:63%;
		height:28px;
		font-size:13px;
		float:left;
		margin:1.5%  0;
		margin-left:2.5%;
	}
	#adver .opa .button{
		width:28%;
		height:30px;
		float:right;
		margin:2%  0;
		margin-right:2.5%;
	}
	#good,#good .center{
		width:100%;
		height:auto;
	}
	#good .center h2{
		width:100%;
	}
	#good .center p{
		width:100%;
		font-size:16px;
	}
	.good_article{
		width:90%;
		height:auto;
		margin:0 auto;
	}
	#good figure{
		width:90%;
		height:auto;
		margin:3%;
		padding:2%;
		position:relative;
	}
	#good figure img{
		width:100%;
	}
	.good_title{
		width:90%;
		height:80px;
		line-height:25px;
		font-size:14px;
		margin:5% 5%;
	}
	.info{
		width:90%;
		height:30px;
		margin:5% 5%;
		margin-top:8%;
	}
	#good figure .type{
		width:30%;
		height:30px;
		position:absolute;
		left:2%;
		top:2%;
	}
	
	
	#footer{
		width:100%;
		height:1000px;;
		margin:0 auto;
		margin-top:20px;
		/* padding-top:10px ; */ 
	}
	#footer .top{
		width:90%;
		height:900px;
		margin:10px auto;
		display:block;
		/* padding:2%; */
		/* border:1px solid red; */
	}

	.block{
		width:90%;
		height:auto;
		margin:3%;
		padding:2%;
		/* border:1px solid red; */
	}

	.bottom{
		width:100%;
		height:120px;
		line-height:60px;
		font-size:18px;
		text-align:center;
		border-top:3px solid rgb(68,68,68);
		background-color:rgb(0,0,0);
		color:rgb(119,119,119);
	}
	.bottom .sm-hidden{
		display:block;
	}	
		
}


















